{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <meta name="robots" content="noindex">
    <!--<link href="/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
    {{/section}}
<h1>{{message}}</h1>
<h1>我是about页面</h1>
{{> discount}}
{{> carousel}}
{{#section 'customjs'}}
    <script>
//        alert("this about!")
    </script>
{{/section}}
