extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li Item A
    li Item B
    li Item C
  div(class='lable-text') This a div text
  div
    a(href='https://www.baidu.com/') 百度查询
  div
    image(src='images/timg24_01.jpg')
    image(src='images/timg24_01.jpg')
    image(src='images/timg24_01.jpg')
    image(src='images/timg24_01.jpg')
    image(src='images/timg24_01.jpg')
    image(src='images/timg24_01.jpg')
