<!--采用container，使得页尾内容居中 -->
 <div class="container">
     <div class="row">
         <div class="row-content col-lg-4 col-sm-4 col-xs-6">
             <h3>BROWSE</h3>
             <ul>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">Gallery</a></li>
                 <li><a href="#">Templates</a></li>
                 <li><a href="#">Resources</a></li>
                 <li><a href="#">OPL Themes</a></li>
             </ul>
         </div>

         <div class="row-content col-lg-4 col-sm-4 col-xs-6">
             <h3>RESOURCES</h3>
             <ul>
                 <li><a href="#">Browse All</a></li>
                 <li><a href="#">Design</a></li>
                 <li><a href="#">Development</a></li>
                 <li><a href="#">Hosting</a></li>
                 <li><a href="#">Round Ups</a></li>
                 <li><a href="#">Tutorials</a></li>
             </ul>
         </div>
         <div class="row-content col-lg-4 col-sm-4 col-xs-6">
             <h3>TRENDING</h3>
             <ul>
                 <li><a href="#">Big Typography</a></li>
                 <li><a href="#">Free Templates</a></li>
                 <li><a href="#">Most Loved</a></li>
                 <li><a href="#">Centrally Divided</a></li>
                 <li><a href="#">Skrollr.js</a></li>
                 <li><a href="#">Molecules</a></li>
             </ul>
         </div>
     </div>
 </div>
 <p align="center" style="margin-top: 20px;color:#878B91;">
     Copyright &copy;2015 Dreyer
 </p>